<!-- <br>
<br> -->
<footer class="border-top fixed-bottom text-muted bg-light">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center text-md-left">
                &copy; 2024 - Seu Livro
            </div>

            <div class="col-12 col-md-4 text-center">
                <a href="/quemSomos" class="text-decoration-none text-dark">Quem somos</a>
            </div>

            <div class="col-12 col-md-4 text-center text-md-right">
                <a href="/adm/areaadm" class="text-decoration-none text-dark">Administrar</a>
            </div>
        </div>
    </div>
</footer>