<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuLivro  :: Fechamento da Compra</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
        p.truncate-3l{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        label:hover .text-dark{
            transition: color 0.2s ease;
            color: white !important;
        }
        label .text-dark{
            transition: color 0.2s ease;
        }

        .btn-check:checked+.btn-outline-danger .text-dark,
        .btn-check:active+.btn-outline-danger .text-dark,
        .btn-check:hover+.btn-outline-danger .text-dark{
            transition: color 0.2s ease;
            color: rgb(255, 255, 255) !important;
        }
    </style>
</head>

    <body style="min-width:372px;">

        <%- include ('../partials/navbar.ejs') %>


        <main class="mb-5 pb-5 mb-md-0">
            <div class="container">
                <h1 class="mb-3">Selecione o Endereço de Entrega</h1>
                <hr>
                <h3 class="mb-4">
                    Selecione o endereço de entrega e clique em <b>Continuar</b> para prosseguir para a <b>seleção da forma de 
                        pagamento.</b>
                </h3>

                <div class="d-flex justify-content-around flex-wrap border rounded-top pt-4 px-3">
                    <div class="mb-4 mx-2">
                        
                        <label class="btn btn-outline-danger p-4 h-100 w-100" for="end1">
                            <input type="radio" class="btn-check" name="endereco" autocomplete="off" id="end1">
                            <h3>
                                <b class="text-dark">Minha Casa</b><br>
                                <hr>
                                <b>Thalles Rodrigues</b><br>
                                Rua Joaquim C da Silva, 87<br>
                                Mogi das Cruzes - SP<br>
                                CEP 00000-000
                            </h3>
                        </label>
                    </div>

                    <div class="mb-4 mx-2">
                        
                        <label class="btn btn-outline-danger p-4 h-100 w-100" for="end2">
                            <input type="radio" class="btn-check" name="endereco" autocomplete="off" id="end2">
                            <h3>
                                <b class="text-dark">Minha Casa</b><br>
                                <hr>
                                <b>Thalles Rodrigues</b><br>
                                Rua Joaquim C da Silva, 87<br>
                                Mogi das Cruzes - SP<br>
                                CEP 00000-000
                            </h3>
                        </label>
                    </div>
                    
                </div>
                <div class="text-right border border-top-0 rounded-bottom p-4 pb-0">
                    <a href="/carrinho" class="btn btn-outline-success btn-lg">voltar para o carrinho</a>
                    <button class="btn btn-danger btn-lg" 
                            onclick="window.location.href='/pagamento'">Continuar</button>
                </div>
                <br>
                <button class="btn btn-danger btn-lg">Cadastrar novo endereço</button>
                
            </div>
            <br>
        </main>

        <%- include ('../partials/footer.ejs') %>

    </body>

    <%- include ('../partials/footerLinks.ejs') %>