<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuLivro  :: Forma de Pagamento</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
        p.truncate-3l{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        label:hover .text-dark{
            transition: color 0.2s ease;
            color: white !important;
        }
        label .text-dark{
            transition: color 0.2s ease;
        }

        /* .btn-check:checked+.btn-outline-danger .text-dark,
        .btn-check:active+.btn-outline-danger .text-dark,
        .btn-check:hover+.btn-outline-danger .text-dark{
            transition: color 0.2s ease;
            color: rgb(255, 255, 255) !important;
        } */
    </style>
</head>

    <body style="min-width:372px;">

        <%- include ('../partials/navbar.ejs') %>


        <main class="flex-fill">
            <div class="container">
                <h1>Selecione a Forma de Pagamento</h1>
                <h3 class="mb-4">
                    Selecione a forma de pagamento e clique em <b>Continuar</b> para prosseguir para <b>concluir o
                        pedido</b>.
                </h3>
                <div class="d-flex justify-content-around flex-wrap border rounded-top pt-4 px-3">

                    <div class="mb-4 mx-2 flex-even">
                        <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag1">
                        <label class="btn btn-outline-danger p-4 h-100 w-100" for="pag1">
                            <h3>
                                <b class="text-dark">Cartão de Crédito</b>
                            </h3>
                            <hr>
                            <form action="">
                                <div class="form-floating mb-3">
                                    <input type="text" id="txtNome" class="form-control" placeholder=" " autofocus>
                                    <label for="txtNome" class="text-black-50">Nome Impresso no Cartão</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" id="txtNumero" class="form-control" placeholder=" ">
                                    <label for="txtNumero" class="text-black-50">Número do Cartão</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" id="txtValidade" class="form-control" placeholder=" ">
                                    <label for="txtValidade" class="text-black-50">Validade (mm/aa)</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" id="txtCodigo" class="form-control" placeholder=" ">
                                    <label for="txtCodigo" class="text-black-50">Código de Segurança</label>
                                </div>

                                <div class="form-floating">
                                    <select id="selParcelas" class="form-select">
                                        <option value="1" selected>À vista</option>
                                        <option value="2">2 x sem juros</option>
                                        <option value="3">3 x sem juros</option>
                                        <option value="4">4 x sem juros</option>
                                        <option value="5">5 x sem juros</option>
                                        <option value="6">6 x sem juros</option>
                                    </select>
                                    <label for="selParcelas" class="text-black-50">Parcelamento</label>
                                </div>
                            </form>

                        </label>
                    </div>

                    <div class="mb-4 mx-2 flex-even">
                        <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag2">
                        <label class="btn btn-outline-danger p-4 h-200 w-200" for="pag2">
                            <h3>
                                <b class="text-dark">Boleto</b>
                            </h3>
                            <hr>
                            <form action="">
                                <h4>Valor da Compra: <b>R$ 63,86</b></h4>
                                <br>
                                <p>
                                    <button class="btn btn-danger btn-lg">Gerar Boleto</button>
                                </p>
                            </form>

                        </label>
                    </div>

                    <div class="mb-4 mx-2 flex-even">
                        <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag3">
                        <label class="btn btn-outline-danger p-4 h-200 w-200" for="pag3">
                            <h3>
                                <b class="text-dark">PIX</b>
                            </h3>
                            <hr>
                            <form action="">
                                <h4>Valor da Compra: <b>R$ 63,86</b></h4>
                                <br>
                                <p>
                                    <button class="btn btn-danger btn-lg">Gerar QR Code</button>
                                </p>
                            </form>

                        </label>
                    </div>

                </div>

                <div class="text-right border border-top-0 rounded-bottom p-4 pb-0">
                    <a href="/enderecoentrega" class="btn btn-outline-success btn-lg">voltar para seleção de endereço</a>
                    <button class="btn btn-danger btn-lg" 
                            onclick="window.location.href='/finalizado'">Finalizar</button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </main>

        <%- include ('../partials/footer.ejs') %>

    </body>

    <%- include ('../partials/footerLinks.ejs') %>